html {
	font-size: 18px;
}

.logo {
	background-color: black;
	display: flex;
	align-items: center;
	height: 2.32rem;
}

.logo img {
	width: auto;
	height: 1.5rem;
	margin: 0 1rem 0 8rem;
}

.logo span{
	color: white;
	margin: 0;
	font-size: 1rem;
	font-family: helvetica;
}

/* banner */

.banner {
	height: 25rem;
	background-image: url(../../resources/images/moto.jpeg);
	background-size: cover;
}

.new-arrival-container {
	width: 20rem;
	height: auto;
	background-color: black;
	margin-top: 9rem;
}

.new-arrival {
	color: white;
	font-family: helvetica;
	font-size: 1rem;
	font-weight: bold;
	padding-top: 2rem;
	margin: 0 0 0.25rem 3rem;
}

.motorcycles {
	color: white;
	font-family: helvetica;
	font-size: 2rem;
	font-weight: bold;
	margin-left: 3rem;
	padding-bottom: 2rem;
	margin-right: 3rem;
}

/* navigation */

.nav {
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: firebrick;
}

.nav span {
	font-size: 1rem;
	font-family: helvetica;
	color: white;
	margin: 0.75rem 3rem;
}

/* Main content begins here */

.container{
	display: flex;
	width: 960px;
	justify-content: space-between;
}

.products {
	display: flex;
	justify-content: center;
	width: 960px;
}

/* Pen */

.pen {
	border: 4px solid black;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 15rem;
	height: 15rem;
	margin: 0 2rem;
}

.pen-image {
	background-image: url(../../resources/images/pen.png);
	background-size: cover;
	background-position:center;
	width: 9rem;
	height: 9rem;
	margin: 2rem 0;
	
}

.pen-text p {
	font-size: 1rem;
	font-family: helvetica;
	color: white;
	padding: 0.5rem 0;
	background-color: black;
	width: 15rem;
	text-align: center;
	
}

/* Watch */

.watch {
	border: 4px solid black;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 15rem;
	height: 15rem;
	margin: 0 2rem;
}

.watch-image {
	background-image: url(../../resources/images/watch.png);
	background-size: cover;
	background-position:center;
	width: 9rem;
	height: 9rem;
	margin: 2rem 0;
	
}

.watch-text p {
	font-size: 1rem;
	font-family: helvetica;
	color: white;
	padding: 0.5rem 0;
	background-color: black;
	width: 15rem;
	text-align: center;
}

/* Glasses */

.glasses {
	border: 4px solid black;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 15rem;
	height: 15rem;
	margin: 0 2rem;
}

.glasses-image {
	background-image: url(../../resources/images/glasses.png);
	background-size: 9rem;
	background-position:center;
	background-repeat: no-repeat;
	width: 9rem;
	height: 9rem;
	margin: 2rem 0;
}

.glasses-text p {
	font-size: 1rem;
	font-family: helvetica;
	color: white;
	padding: 0.5rem 0;
	background-color: black;
	width: 15rem;
	text-align: center;
}

/* Bottom Page */

.container-2 {
	display: inline-flex;
	width: 960px;
	justify-content: space-between;
}

/* Location */

.location {
	display: inline-block;
	width: 35%;
}

.location-box{
	background-color: black;
	padding: 1rem 0rem 1rem 2rem;
	width: 100%;
}

.location-box p {
	color:white;
}

/* Hours */

.hours {
	display: inline-block;
	width: 35%;
}

.hours-box {
	background-color: black;
	padding: 1rem 0rem 1rem 2rem;
	width: 100%;

}

.hours-box p {
	color:white;
}